.text-green{
    color: green;
}
.text-yellow{
    color:yellow;
}
.text-red{
    color:red;
}
.text-blue{
    color: blue;
}
.text-back{
    background-color: orange;
}
.group {
    background-color: #dae8f9;
    padding: 1rem;
    margin: 1rem 0;
  }